<nav class="navbar navbar-expand fixed-left py-0" [ngClass]="{collapsed: isSidebarCollapsed}">
    <div class="nav-header">
      <a class="navbar-brand">
        <a class="bars-icon pointer" [ngClass]="isSidebarCollapsed ? 'ms-4' : 'nav-container'" (click)="collapseSidebar()">
          <fa-icon [icon]="faBars"></fa-icon>
        </a>
        <a class="nav-title ms-2" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">
          Bestellverwaltung
        </a>
      </a>
    </div>
  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item pointer" routerLink="//users">
          <div class="nav-container nav-link" [ngClass]="{'mx-auto': isSidebarCollapsed}">
            <button class="icon icon-button">
              <fa-icon [icon]="faUser"></fa-icon>
            </button>
            <a class="nav-text" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">Benutzer</a>
          </div>
        </li>
        <li class="nav-item pointer" routerLink="//members">
          <div class="nav-container nav-link" [ngClass]="{'mx-auto': isSidebarCollapsed}">
            <button class="icon icon-button">
              <fa-icon [icon]="faUsers"></fa-icon>
            </button>
            <a class="nav-text" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">Mitglieder</a>
          </div>
        </li>
        <li class="nav-item pointer" routerLink="/suppliers">
          <div class="nav-container nav-link" [ngClass]="{'mx-auto': isSidebarCollapsed}">
            <button class="icon icon-button">
              <fa-icon [icon]="faSupplier"></fa-icon>
            </button>
            <a class="nav-text" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">Lieferanten</a>
          </div>
        </li>
        <li class="nav-item pointer" routerLink="/orders">
          <div class="nav-container nav-link" [ngClass]="{'mx-auto': isSidebarCollapsed}">
            <button class="icon icon-button">
              <fa-icon [icon]="faBriefcase"></fa-icon>
            </button>
            <a class="nav-text" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">Bestellungen</a>
          </div>
        </li>
        <li class="nav-item pointer" routerLink="/projects">
          <div class="nav-container nav-link" [ngClass]="{'mx-auto': isSidebarCollapsed}">
            <button class="icon icon-button">
              <fa-icon [icon]="faFolderOpen"></fa-icon>
            </button>
            <a class="nav-text" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">Projekte</a>
          </div>
        </li>
      </ul>
      <div class="userstatus">
        <button class="btn userbutton" [ngStyle]="{'display': isSidebarCollapsed ? 'none' : 'inline'}">Eingeloggt als: {{currentUser}}</button>
      </div>
    </div>
  </nav>
