.navbar.fixed-left {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    bottom: 0;
    width: calc(232px + 2.5vw);
    flex-flow: column nowrap;
    align-items: flex-start
}

.collapsed{
    width: 72px !important;
}

.navbar.fixed-left .navbar-collapse {
    flex-grow: 0;
    flex-direction: column;
    width: 100%
}

.navbar.fixed-left .navbar-collapse .navbar-nav {
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
}

.navbar {
    background-color: #003049;
}

a,
.nav-link {
    padding-left: 0 !important;
    padding-top: calc(0.3rem + 1.2vh + 0.25vw) !important;
    padding-bottom: calc(0.3rem + 1.2vh + 0.25vw) !important;
    padding-right: 0 !important;
    color: #FFFFFF;
    text-decoration: none;
    font-size: calc(7px + 0.75vh + 0.25vw);
}

.nav-container {
    margin-left: 1rem;
    width: fit-content;
}

.navbar-brand{
    margin: 0;
    display: block;
    flex-direction: column;
    width: 100%;
}

.nav-header {
    flex-direction: column;
    width: 100%;
    padding: 0 !important;
}

.nav-text {
    margin-left: 0.75rem;
}

.icon-button {
    border: none;
    border-radius: 5px;
    height: calc(30px + 0.5vh + 0.2vw);
    width: calc(30px + 0.5vh + 0.2vw);
    background-color: #004266;
    color: #FFFFFF;
}

.nav-item:hover {
    background-color: #00527c;
}

.userstatus {
    position: fixed;
    left: 1rem;
    bottom: 0.75rem;
}

.userbutton {
    border: none;
    background-color: #00507A;
    color: #FFFFFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: default;
    font-size: calc(10px + 0.5vh + 0.25vw);
}

.pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}

.nav-title{
    font-size: calc(12px + 0.75vh + 0.25vw);
}

.icon{
    font-size: calc(12px + 0.5vh + 0.15vw);
}

.bars-icon{
    font-size: calc(14px + 0.5vh + 0.15vw);
}