<div class="modal" tabindex="-1" style="display: block">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title">Benutzer bearbeiten</h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body pt-0">
          <div class="container">
            <div class="row">
              <div class="col mx-3">
                <div class="row align-items-center justify-content-between">
                  <div class="col">
                    <div class="row align-items-center">
                      <div class="col-auto px-0">
                        <label>Kurzform:</label>
                      </div>
                      <div class="col ps-1">
                        <input
                          type="text"
                          class="form-control d-inline-block py-1 px-1"
                          formControlName="shortForm"
                          id="shortFormInput"
                          style="width: 60px"
                          [ngClass]="{
                            'is-invalid':
                              shortform.invalid &&
                              (shortform.dirty || shortform.touched)
                          }"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="activeSwitch"
                        formControlName="active"
                      />
                      <label class="form-check-label ms-1" for="activeSwitch"
                        >Aktiv</label
                      >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label for="lastNameInput" class="form-label"
                    >Nachname:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                    id="lastNameInput"
                    [ngClass]="{
                      'is-invalid':
                        lastname.invalid && (lastname.dirty || lastname.touched)
                    }"
                  />
                  <div
                    *ngIf="lastname.errors?.required"
                    class="invalid-feedback"
                  >
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="firstNameInput" class="form-label"
                    >Vorname:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                    id="firstNameInput"
                    [ngClass]="{
                      'is-invalid':
                        firstname.invalid &&
                        (firstname.dirty || firstname.touched)
                    }"
                  />
                  <div
                    *ngIf="firstname.errors?.required"
                    class="invalid-feedback"
                  >
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="passwordInput" class="form-label"
                    >Passwort:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="password"
                    id="passwordInput"
                    [ngClass]="{
                      'is-invalid':
                        password.invalid && (password.dirty || password.touched)
                    }"
                  />
                  <div
                    *ngIf="password.errors?.required"
                    class="invalid-feedback"
                  >
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()">
            Abbrechen
          </button>
          <button
            type="submit"
            class="btn btn-confirm"
            [disabled]="!editUserForm.valid"
          >
            Bestätigen
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
