<div class="background">
  <form [formGroup]="editSupplierForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid comp-background details-module">
      <div class="row align-items-end">
        <div class="col header-text text-start">
          Lieferant [ID: {{ supplier.id }}]
        </div>
        <div class="col text-end header-text-small">
          Registriert seit: {{ supplier.regDate }}
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-6">
          <div class="row">
            <div class="col-9">
              <label for="companyNameInput" class="form-label"
                >Firmenname:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="companyName"
                id="companyNameInput"
                [ngClass]="{
                  'is-invalid':
                    companyName.invalid &&
                    (companyName.dirty || companyName.touched)
                }"
              />
              <div
                *ngIf="companyName.errors?.required"
                class="invalid-feedback"
              >
                Feld darf nicht leer sein!
              </div>
            </div>

            <div class="col-3">
              <label for="shortFormInput" class="form-label">Code:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="shortForm"
                id="shortFormInput"
                [ngClass]="{
                  'is-invalid':
                    shortForm.invalid && (shortForm.dirty || shortForm.touched)
                }"
              />
              <div *ngIf="shortForm.errors?.required" class="invalid-feedback">
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="activeSwitch"
                  formControlName="active"
                />
                <label class="form-check-label ps-1" for="activeSwitch"
                  >Aktiv</label
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="greetingShortInput" class="form-label">Anrede:</label>
              <select
                type="text"
                class="form-control form-control-sm"
                formControlName="greetingShort"
                id="greetingShortInput"
                [ngClass]="{
                  'is-invalid':
                    greetingShort.invalid &&
                    (greetingShort.dirty || greetingShort.touched)
                }"
              >
                <option>Herr</option>
                <option>Frau</option>
              </select>
              <div
                *ngIf="greetingShort.errors?.required"
                class="invalid-feedback"
              >
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="telephoneInput" class="form-label">Telephone:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="telephone"
                id="telephoneInput"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="contactNameInput" class="form-label"
                >Kontaktperson:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="contactName"
                id="contactNameInput"
                [ngClass]="{
                  'is-invalid':
                    contactName.invalid &&
                    (contactName.dirty || contactName.touched)
                }"
              />
              <div
                *ngIf="contactName.errors?.required"
                class="invalid-feedback"
              >
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="emailInput" class="form-label">Email:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="email"
                id="emailInput"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="streetInput" class="form-label">Straße:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="street"
                id="streetInput"
                [ngClass]="{
                  'is-invalid':
                    street.invalid && (street.dirty || street.touched)
                }"
              />
              <div *ngIf="street.errors?.required" class="invalid-feedback">
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="webInput" class="form-label">Web:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="web"
                id="webInput"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4">
              <label for="plzInput" class="form-label">PLZ:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="plz"
                id="plzInput"
                [ngClass]="{
                  'is-invalid': plz.invalid && (plz.dirty || plz.touched)
                }"
              />
              <div *ngIf="plz.errors?.required" class="invalid-feedback">
                Feld darf nicht leer sein!
              </div>
            </div>
            <div class="col-8">
              <label for="cityInput" class="form-label">Ort:</label>
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="city"
                id="cityInput"
                [ngClass]="{
                  'is-invalid': city.invalid && (city.dirty || city.touched)
                }"
              />
              <div *ngIf="city.errors?.required" class="invalid-feedback">
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <div class="form-floating p-0">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="history"
                  style="height: 100px"
                  formControlName="history"
                ></textarea>
                <label for="history">Historie</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end mt-1">
        <div class="col-auto">
          <button
            type="button"
            class="btn btn-secondary me-2"
            (click)="resetForm()"
          >
            Abbrechen
          </button>
          <button
            type="submit"
            class="btn btn-add"
            [disabled]="editSupplierForm.invalid"
          >
            Speichern
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
