.background{
    background-color: #FFFFFF;
}

.details-module{
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-text{
    font-size: calc(16px + 0.75vh + 0.35vw);
    font-weight: 500;
}

.header-text-small{
    font-size: calc(10px + 0.75vh + 0.35vw);
    font-weight: 500;
}

.form-control{
    font-size: calc(4px + 0.8vh + 0.4vw);
}

label{
    margin: 0;
    font-size: calc(4px + 0.8vh + 0.4vw);
    font-weight: 500;
}

.form-check > label{
    font-size: calc(4px + 0.8vh + 0.4vw);
    font-weight: 500;
}

.btn-delete {
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-add {
    color: #FFFFFF;
    background-color: #003049;
}

.invalid-feedback{
    font-size: calc(4px + 0.5vh + 0.3vw);
    padding: 0;
}

.form-switch .form-check-input{
    width: calc(2rem + 1vw);
    height: calc(1rem + 1vh);
}

.container-fluid > .row:first-child,
.container-fluid > .row:last-child {
    margin-top: 0.5rem !important;
}

.container-fluid > .row{
    margin: 0.75rem;
}

button{
    font-size: calc(6px + 0.8vh + 0.4vw);
}