<div class="modal" tabindex="-1" [ngStyle]="{'display': deleteProjectVisible ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Projekt löschen</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>Sind Sie sicher, dass Sie dieses Projekt löschen wollen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" (click)="closeModal()">Schliessen</button>
          <button type="button" class="btn btn-confirm" (click)="deleteButtonClicked()">Löschen</button>
        </div>
      </div>
    </div>
  </div>