<app-sidebar></app-sidebar>
<div
  class="background"
  [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'"
>
  <div class="headermodule">
    <app-header></app-header>
  </div>
  <div class="bodymodule">
    <app-body [users]="users" (deleteUser)="deleteUser($event)" (addUser)="addUser($event)" (editUser)="editUser($event)" (setEditUserToEdit)="setEditUserToEdit($event)"></app-body>
  </div>
  <div class="footermodule">
    <app-footer
      [count]="userCount"
      [pageSize]="10"
      (pageChanged)="setPage($event)"
    ></app-footer>
  </div>
</div>
