<div class="container-fluid px-0">
    <div class="row align-items-end">
        <div class="col-auto mt-2">
            <label class="header-text">Members</label>
        </div>
        <div class="col mt-filter">
            <div class="float-end">
                <label style="font-size: 16px; font-weight: 600;">Filtern:</label>
                <div class="btn-group ms-1">
                    <select [(ngModel)]="selectedFilterOption" (ngModelChange)="onFilterChanged()" class="form-select form-select-sm">
                        <option *ngFor="let filterOption of filterOptions; let i = index" [ngValue]="i">{{filterOption}}</option>
                      </select>
                </div>
            </div>
        </div>
    </div>
    <div class="row gx-2 mt-row">
        <div class="col-auto">
            <select [(ngModel)]="selectedSearchFilterId" (ngModelChange)="searchFilterChanged()" class="form-select">
                <option *ngFor="let searchFilterOption of searchFilterOptions; let i = index" [ngValue]="i">{{searchFilterOption}}</option>
              </select>
        </div>
        <div class="col ms-0">
            <input [(ngModel)]="searchString" (keyup)="onKeyUp()" type="text" class="form-control" placeholder="Suchen...">
        </div>
    </div>
</div>