<div class="background">
    <div class="login_card">
        <label>Login</label>
        <br>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img height="30px" src="assets/images/user.png">
            </span>
            <input [(ngModel)]="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">
                <img height="30px" src="assets/images/lock.png">
            </span>
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        <button (click)="onLoginBtnClicked()" type="button" class="btn btn-outline-light">Login</button>
        <div class="alert alert-danger" role="alert" [hidden]="isHidden">
            Username oder Passwort ist falsch!
        </div>
    </div>
</div>