.background {
    background-image: url(../../../assets/images/background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
* {
    margin: 0;
    padding: 0;
}
.login_card {
    padding-left: calc(15px + 1.5vw);
    padding-right: calc(15px + 1.5vw);
    padding-top: calc(15px + 1.5vh);
    padding-bottom: calc(15px + 1.5vh);
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.65);
    text-align: center;
    vertical-align: bottom;
    min-width: 250px;
    min-height: 450px;
    color: white;
    width: 25vw;
    height: (450px + 5vh);
}
.login_card input {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 7px;
    box-shadow: none;
}
.login_card span {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
}
.login_card label {
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 3vh;
}
.btn {
    position: relative;
    height: 55px;
    width: 130px;
    margin-top: 2vh;
    font-size: 20px;
    box-shadow: none;
    outline: none;
}

.alert {
    padding: 5px;
    margin: 20px;
    font-weight: bold;
}