<form [formGroup]="addOrderForm" (ngSubmit)="onSubmit()">
    <div
    class="modal"
    tabindex="-1"
    [ngStyle]="{ display: isAddOrderVisible ? 'block' : 'none' }"
  >
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Bestellung hinzufügen</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <div class="row mx-3">
            <div class="col-6">
              <div class="row">
                <label for="memberSelect" class="form-label"
                  >Mitglied:</label
                >
                <select
                  class="form-select form-select"
                  formControlName="memberId"
                  id="memberSelect"
                  [ngClass]="{ 'is-invalid': member.invalid && (member.dirty || member.touched) }">
                      <option *ngFor="let member of members" [value]="member.id">{{member.fullName}}</option>
                </select>
                <div *ngIf="member.errors?.required" class="invalid-feedback">
                  Feld darf nicht leer sein!
                </div>
              </div>
              <div class="row">
                  <label for="contactTypeSelect" class="form-label"
                  >Bestellart:</label
                >
                <select
                  class="form-select form-select"
                  formControlName="contactTypeId"
                  id="contactTypeSelect"
                  [ngClass]="{ 'is-invalid': contactType.invalid && (contactType.dirty || contactType.touched) }">
                  <option *ngFor="let contactType of contactTypes" [value]="contactType.id">{{contactType.type}}</option>
                </select>
                <div *ngIf="contactType.errors?.required" class="invalid-feedback">
                  Feld darf nicht leer sein!
                </div>
              </div>
              <div class="row">
                  <label for="orderTypeSelect" class="form-label"
                  >Bestelltyp:</label
                >
                <select
                  class="form-select form-select"
                  formControlName="orderTypeId"
                  id="orderTypeSelect"
                  [ngClass]="{ 'is-invalid': orderType.invalid && (orderType.dirty || orderType.touched) }">
                      <option *ngFor="let orderType of orderTypes" [value]="orderType.id">{{orderType.type}}</option>
                </select>
                <div *ngIf="orderType.errors?.required" class="invalid-feedback">
                  Feld darf nicht leer sein!
                </div>
              </div>
              <div class="row">
                  <label for="wishedDelDateSelect" class="form-label"
                  >Liefertermin:</label>
                <select
                  class="form-select form-select"
                  formControlName="wishedDelDate"
                  id="wishedDelDateSelect"
                >
                  <option *ngFor="let availableDelDate of availableDelDates" [value]="availableDelDate">{{availableDelDate}}</option>
                </select>
              </div>
              <div class="row">
                  <label for="orderAmountInput" class="form-label">Bestellmenge:</label>
                  <input type="number" class="form-control" formControlName="amountOrdered" id="orderAmountInput">
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                  <label for="projectSupplierSelect" class="form-label"
                  >Lieferant:</label
                >
                <select
                  class="form-select form-select"
                  formControlName="projectSupplierId"
                  id="projectSupplierSelect"
                  [ngClass]="{ 'is-invalid': projectSupplier.invalid && (projectSupplier.dirty || projectSupplier.touched) }">
                  <option *ngFor="let supplier of suppliers" [value]="supplier.id">{{supplier.supplierShortForm}}, {{supplier.supplierCompanyName}}</option>
                </select>
                <div *ngIf="projectSupplier.errors?.required" class="invalid-feedback">
                  Feld darf nicht leer sein!
                </div>
              </div>
              <div class="row w-75">
                  <ul class="list-group px-0">
                      <li class="list-group-item d-flex">
                          <label class="me-auto">Preis je Tonne:</label>
                          <label *ngIf="selectedSupplier">{{selectedSupplier.pelletsPrice}} €</label>
                      </li>
                      <li class="list-group-item d-flex">
                          <label class="me-auto">Abladepauschale:</label>
                          <label *ngIf="selectedSupplier">{{selectedSupplier.alpPrice}} €</label>
                      </li>
                      <li class="list-group-item d-flex">
                          <label class="me-auto">Lieferende:</label>
                          <label *ngIf="selectedSupplier">{{selectedSupplier.deliveryEnd}}</label>
                      </li>
                    </ul>
              </div>
              <div class="row">
                <div class="form-floating mt-2 px-0">
                  <textarea
                    class="form-control"
                    placeholder="Leave a comment here"
                    id="shortInfo"
                    style="height: 100px"
                    formControlName="shortInfo"
                  ></textarea>
                  <label class="textarea-label" for="shortInfo"
                    >Interne Infos</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" (click)="closeModal()">
            Abbrechen
          </button>
          <button type="submit" class="btn btn-confirm">
            Hinzufügen
          </button>
        </div>
      </div>
    </div>
  </div>
  
</form>