<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th scope="col">ID</th>
      <th scope="col">Aktiv</th>
      <th scope="col">Firmenname</th>
      <th scope="col">PLZ</th>
      <th scope="col">Ort</th>
      <th scope="col">Code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of suppliers">
      <td>
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="supplier.id === selectedSupplierId"
          (click)="supplierSelected(supplier.id)"
        />
      </td>
      <th scope="row" (click)="openDetailedSupplierView(supplier.id)">
        {{ supplier.id }}
      </th>
      <td (click)="openDetailedSupplierView(supplier.id)">
        <span class="status" [ngClass]="supplier.active ? 'positive' : 'negative'"></span>
      </td>
      <td (click)="openDetailedSupplierView(supplier.id)">
        {{ supplier.companyName }}
      </td>
      <td (click)="openDetailedSupplierView(supplier.id)">
        {{ supplier.plz }}
      </td>
      <td (click)="openDetailedSupplierView(supplier.id)">
        {{ supplier.city }}
      </td>
      <td (click)="openDetailedSupplierView(supplier.id)">
        {{ supplier.shortForm }}
      </td>
    </tr>
  </tbody>
</table>

<div class="bottom-right">
  <button
    type="button"
    class="btn btn-delete me-2"
    [disabled]="selectedSupplierId === 0"
    (click)="openDeleteDialog()"
  >
    Löschen
  </button>
  <button type="button" class="btn btn-add" (click)="openAddDialog()">
    Hinzufügen
  </button>
</div>

<app-add-supplier
  (addSupplierClosed)="closeAddDialog()"
  (newSupplierCreated)="addNewSupplier($event)"
  [addSupplierVisible]="isAddSupplierVisible"
></app-add-supplier>
<app-delete-supplier
  (deleteSupplierClosed)="closeDeleteDialog()"
  (deleteSupplierClicked)="deleteSupplierClicked()"
  [deleteSupplierVisible]="isDeleteSupplierVisible"
></app-delete-supplier>
