<div class="container-fluid px-0">
    <div class="row">
        <div class="col-auto mt-2">
            <label class="header-text">Orders</label>
        </div>
    </div>
    <div class="row gx-2 mt-row">
        
        <div class="col ms-0">
            <input [(ngModel)]="searchString" (keyup)="onKeyUp()" type="text" class="form-control" placeholder="Suchen...">
        </div>
    </div>
</div>