<div
  class="modal"
  tabindex="-1"
  [ngStyle]="{ display: addProjectVisible ? 'block' : 'none' }"
>
  <div class="modal-dialog modal-dialog-centered">
    <form class="w-100" [formGroup]="addProjectForm" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Projekt erstellen</h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <label for="projectNameInput" class="form-label"
                >Projektbezeichnung:</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="shortDescription"
                id="projectNameInput"
                [ngClass]="{ 'is-invalid': projectName.invalid && (projectName.dirty || projectName.touched) }"
              />
              <div *ngIf="projectName.errors?.required" class="invalid-feedback">
                Feld darf nicht leer sein!
              </div>
            </div>
            <div class="row">
              <label for="orderEndDateInput" class="form-label"
                >Bestellende:</label
              >
              <input
                type="date"
                class="form-control"
                formControlName="endOrderDate"
                id="orderEndDateInput"
                [ngClass]="{ 'is-invalid': endOrderDate.invalid && (endOrderDate.dirty || endOrderDate.touched) }"
              />
              <div *ngIf="endOrderDate.errors?.required" class="invalid-feedback">
                  Feld darf nicht leer sein!
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-cancel"
            (click)="closeModal()"
          >
            Abbrechen
          </button>
          <button type="submit" class="btn btn-confirm" [disabled]="!addProjectForm.valid">Bestätigen</button>
        </div>
      </div>
    </form>
  </div>
</div>
