label{
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}

.row{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}

.btn-cancel {
    color: #FFFFFF;
    background-color: #D62828;
}