.background{
    background-color: #F2F2F2;
}

.comp-background{
    background-color: #FFFFFF;
}

.details-module{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-text{
    font-size: 24px;
    font-weight: 500;
}

.header-text-small{
    font-size: 16px;
    font-weight: 500;
}

.form-control{
    font-size: 12px;
}

label{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.col-7 > .row{
    margin-bottom: 0.25rem;
}

.col-5 > .row{
    margin-bottom: 0.25rem;
}

.form-check > label{
    font-size: 14px;
}

.btn-delete {
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-add {
    color: #FFFFFF;
    background-color: #003049;
}

.invalid-feedback{
    font-size: 12px;
    padding: 0;
}