<div class="background">
  <form [formGroup]="editMemberForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid comp-background details-module">
      <div class="container-fluid pt-2">
        <div class="row align-items-end">
          <div class="col header-text text-start">
            MemberID: {{ member.id }}
          </div>
          <div class="col text-end header-text-small">
            Beigetreten am: {{ member.regDate }}
          </div>
        </div>
      </div>
      <div class="container-fluid mt-1 pb-2">
        <form>
          <div class="row">
            <div class="col-7">
              <div class="row gx-3">
                <div class="col-2">
                  <label for="titleInput" class="form-label">Titel:</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="title"
                    id="titleInput"
                  />
                </div>
                <div class="col-2">
                  <label for="additionalTitleInput" class="form-label"
                    >Zusatztitel:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="additionalTitle"
                    id="additionalTitleInput"
                  />
                </div>
              </div>
              <div class="row gx-3">
                <div class="col-5">
                  <label for="lastNameInput" class="form-label"
                    >Nachname:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="lastName"
                    id="lastNameInput"
                    [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }"
                  />
                  <div *ngIf="lastName.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="col-5">
                  <label for="firstNameInput" class="form-label"
                    >Vorname:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="firstName"
                    id="firstNameInput"
                    [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }"
                  />
                  <div *ngIf="firstName.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
              <div class="row gx-3">
                <div class="col-5">
                  <label for="streetInput" class="form-label">Strasse:</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="street"
                    id="streetInput"
                    [ngClass]="{ 'is-invalid': street.invalid && (street.dirty || street.touched) }"
                  />
                  <div *ngIf="street.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
              <div class="row gx-3">
                <div class="col-5">
                  <label for="plzInput" class="form-label">PLZ:</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="plz"
                    id="plzInput"
                    [ngClass]="{ 'is-invalid': plz.invalid && (plz.dirty || plz.touched) }"
                  />
                  <div *ngIf="plz.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                  <div *ngIf="plz.errors?.maxlength" class="invalid-feedback">
                    PLZ darf nicht länger als 5 sein!
                  </div>
                  <div *ngIf="plz.errors?.minlength" class="invalid-feedback">
                    PLZ darf nicht kürzer als 4 sein!
                  </div>
                </div>
                <div class="col-5">
                  <label for="cityInput" class="form-label">Stadt:</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="city"
                    id="cityInput"
                    [ngClass]="{ 'is-invalid': city.invalid && (city.dirty || city.touched) }"
                  />
                  <div *ngIf="city.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
              <div class="row gx-3">
                <div class="col-5">
                  <label for="deliveryAddressInput" class="form-label"
                    >Lieferadresse:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="deliveryAddress"
                    id="deliveryAddressInput"
                  />
                </div>
              </div>
              <div class="row gx-3">
                <div class="col-5">
                  <label for="telephoneNumberInput" class="form-label"
                    >Telefonnummer:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="privateNumber"
                    id="telephoneNumberInput"
                    [ngClass]="{ 'is-invalid': privateNumber.invalid && (privateNumber.dirty || privateNumber.touched) }"
                  />
                  <div *ngIf="privateNumber.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="col-5">
                  <label for="secondaryNumberInput" class="form-label"
                    >Alternative Nr.:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="secondaryNumber"
                    id="secondaryNumberInput"
                  />
                </div>
              </div>
              <div class="row gx-3">
                <div class="col-5">
                  <label for="emailInput" class="form-label">Email:</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="email"
                    id="emailInput"
                    [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }"
                  />
                  <div *ngIf="email.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
            </div>
            <div class="col-5 mt-4">
              <div class="row">
                <div class="col">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="activeSwitch"
                      formControlName="active"
                    />
                    <label class="form-check-label" for="activeSwitch"
                      >Aktiv</label
                    >
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="passwordInput" class="form-label"
                    >Passwort:</label
                  >
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    formControlName="password"
                    id="passwordInput"
                    [ngClass]="{ 'is-invalid': password.invalid && (password.dirty || password.touched) }"
                  />
                  <div *ngIf="password.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="contactTypeSelect" class="form-label"
                    >Kontakttyp:</label
                  >
                  <select
                    class="form-select form-select-sm"
                    formControlName="contactTypeId"
                    id="contactTypeSelect"
                    [ngClass]="{ 'is-invalid': contactType.invalid && (contactType.dirty || contactType.touched) }"
                  >
                    <option *ngFor="let contactType of contactTypes" [value]="contactType.id">{{contactType.type}}</option>
                  </select>
                  <div *ngIf="contactType.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating p-0">
                    <textarea
                      class="form-control"
                      placeholder="Leave a comment here"
                      id="internInfo"
                      style="height: 100px"
                      formControlName="internInfo"
                    ></textarea>
                    <label for="internInfo">Interne Infos</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-floating p-0">
                    <textarea
                      class="form-control"
                      placeholder="Leave a comment here"
                      id="internInfo"
                      style="height: 100px"
                      formControlName="permanentInfo"
                    ></textarea>
                    <label for="internInfo">Permanent Infos</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="comp-background mt-3">
      <app-member-orders [orders]="memberOrders" (selectionChanged)="selectedOrderChanged($event)"></app-member-orders>
      <div class="container-fluid pb-3">
        <div class="row justify-content-between">
          <div class="col-6 mx-3">
            <button type="button" class="btn btn-delete me-2" [disabled]="selectedOrderId === -1" (click)="openDeleteOrderModal()">Löschen</button>
            <button type="button" class="btn btn-add" [disabled]="member.id === -1" (click)="openAddOrderModal()">Hinzufügen</button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-secondary me-2" (click)="resetForm()">Abbrechen</button>
            <button type="submit" class="btn btn-add" [disabled]="editMemberForm.invalid">Speichern</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<app-add-order *ngIf="isAddOrderVisible" (modalClosed)="closeAddModal()" (orderAdded)="addOrder($event)" [memberId]="memberId" [isAddOrderVisible]="isAddOrderVisible"></app-add-order>
<app-delete-order *ngIf="isDeleteOrderVisible" (modalClosed)="closeDeleteModal()" (orderDeleted)="deleteOrder()" [isDeleteOrderVisible]="isDeleteOrderVisible"></app-delete-order>