.btn-delete{
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-add{
    color: #FFFFFF;
    background-color: #003049;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0.8rem;
    padding-right: 1rem;
}

tr > th:first-child{
    padding-left: 1rem;
}

.status {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.green{
    background-color: #00FF00;
}

.red{
    background-color: #D62828;
}

.orange{
    background-color: #FF8800;
}

.none{
    border-color: #000;
    border-style: solid;
    border-width: 1px;
}

tbody > tr > *:not(:first-child){
    cursor: pointer;
}