<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Straße</th>
      <th scope="col">PLZ</th>
      <th scope="col">Ort</th>
      <th scope="col" class="text-center">L</th>
      <th scope="col">Lief.</th>
      <th scope="col">Menge</th>
      <th scope="col">Liefertermin</th>
      <th scope="col" class="text-center">MB</th>
      <th scope="col" class="text-center">LB</th>
      <th scope="col">PDF</th>
      <th scope="col">User</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="order.id === selectedOrderId"
          (click)="orderSelected(order.id)"
        />
      </td>
      <th scope="row" (click)="openDetailedOrderView(order.id)">
        {{ order.id }}
      </th>
      <td (click)="openDetailedOrderView(order.id)">
        {{ order.member.fullName }}
      </td>
      <td (click)="openDetailedOrderView(order.id)">
        {{ order.member.street }}
      </td>
      <td (click)="openDetailedOrderView(order.id)">{{ order.member.plz }}</td>
      <td (click)="openDetailedOrderView(order.id)">{{ order.member.city }}</td>
      <td (click)="openDetailedOrderView(order.id)">
        <span
          class="status"
          [ngClass]="order.member.differentDeliveryAddress ? 'orange' : 'none'"
        ></span>
      </td>
      <td (click)="openDetailedOrderView(order.id)">
        {{ order.supplierShortForm }}
      </td>
      <td (click)="openDetailedOrderView(order.id)">
        {{ order.amountOrdered }}
      </td>
      <td (click)="openDetailedOrderView(order.id)">
        {{ order.wishedDelDate }}
      </td>
      <td (click)="openDetailedOrderView(order.id)">
        <span
          class="status"
          [ngClass]="order.memberConfirmation ? 'green' : 'red'"
        ></span>
      </td>
      <td (click)="openDetailedOrderView(order.id)">
        <span
          class="status"
          [ngClass]="order.memberConfirmation ? 'green' : 'red'"
        ></span>
      </td>
      <td (click)="openDetailedOrderView(order.id)">{{ order.file }}</td>
      <td (click)="openDetailedOrderView(order.id)">{{ order.username }}</td>
    </tr>
  </tbody>
</table>

<div class="bottom-right">
  <button
    type="button"
    class="btn btn-delete me-2"
    [disabled]="selectedOrderId === 0"
    (click)="openDeleteDialog()"
  >
    Löschen
  </button>
  <button type="button" class="btn btn-add" (click)="openAddDialog()">
    Hinzufügen
  </button>
</div>

<app-delete-order
  *ngIf="isDeleteOrderVisible"
  (deleteOrderClosed)="closeDeleteDialog()"
  (deleteOrderClicked)="deleteOrderClicked()"
  [deleteOrderVisible]="isDeleteOrderVisible"
></app-delete-order>
<app-add-order
  *ngIf="isAddOrderVisible"
  (modalClosed)="closeAddDialog()"
  (orderAdded)="addNewOrder($event)"
  [isAddOrderVisible]="isAddOrderVisible"
></app-add-order>
