.btn-cancel {
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}

.invalid-feedback{
    font-size: 12px;
    padding: 0;
}

.form-control{
    font-size: 12px;
}

label:not(.textarea-label){
    padding: 0;
}

label{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
}

.col-6 > .row{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.75rem;
}

li{
    font-size: 12px !important;
}