<app-sidebar></app-sidebar>
<div
  class="background"
  [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'"
>
  <div class="headermodule">
    <app-header></app-header>
  </div>
  <div class="bodymodule">
    <app-body [projects]="projects" (deleteProject)="deleteProject()" (selectionChanged)="selectedProjectChanged($event)" (addProject)="addProject($event)"></app-body>
  </div>
  <div class="footermodule">
    <app-footer [count]="projectCount" [pageSize]="10" (pageChanged)="setPage($event)"></app-footer>
  </div>
</div>