<table class="table">
  <thead class="table-light">
    <tr>
      <th scope="col"></th>
      <th scope="col">ID</th>
      <th scope="col">User</th>
      <th scope="col">Kontakttyp</th>
      <th scope="col">Bestellmenge</th>
      <th scope="col">MB</th>
      <th scope="col">LB</th>
      <th scope="col">Datei</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td class="select" style="width: 75px;">
        <input class="form-check-input" type="checkbox" [checked]="order.id === selectedOrderId" (click)="orderSelected(order.id)"/>
      </td>
      <th scope="row" (dblclick)="editOrder(order.id)">{{order.id}}</th>
      <td (dblclick)="editOrder(order.id)">{{order.username}}</td>
      <td (dblclick)="editOrder(order.id)">{{order.contactType}}</td>
      <td (dblclick)="editOrder(order.id)">{{order.amountOrdered}}</td>
      <td (dblclick)="editOrder(order.id)">
        <span class="status" [ngClass]="order.memberConfirmation ? 'positive' : 'negative'"></span>
      </td>
      <td (dblclick)="editOrder(order.id)">
        <span class="status" [ngClass]="order.supplierConfirmation ? 'positive' : 'negative'"></span>
      </td>
      <td (dblclick)="editOrder(order.id)">{{order.file}}</td>
    </tr>
  </tbody>
</table>
