tbody {
    font-size: 14px;
}

thead {
    font-size: 14px
}

.select{
    padding-left: 1rem !important;
}

.status {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.positive{
    background-color: #00FF00;
}

.negative{
    background-color: #D62828;
}