<div class="row align-items-center">
    <div class="col pe-0">
        <div class="bordered">
            <table class="table">
                <thead class="d-block">
                  <tr class="d-flex">
                    <th class="col-3" scope="col">Kurz</th>
                    <th class="col-9" scope="col">Name</th>
                  </tr>
                </thead>
                <tbody class="d-block">
                  <tr class="d-flex"
                  *ngFor="let projectSupplier of projectSuppliers"
                  [ngClass]="{'selected': selectedProjectSupplierId === projectSupplier.id}"
                  (click)="projectSupplierSelected(projectSupplier.id)"
                  (dblclick)="openEditModal(projectSupplier.id)"
                  >
                    <td class="col-3">{{projectSupplier.supplierShortForm}}</td>
                    <td class="col-9">{{projectSupplier.supplierName}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
<div class="row justify-content-between mt-2">
    <div class="col-auto">
        <button class="btn btn-sm btn-confirm" (click)="openAddModal()">Hinzufügen</button>
    </div>
    <div class="col-auto pe-0">
        <button class="btn btn-sm btn-cancel" (click)="openDeleteModal()">Löschen</button>
    </div>
</div>
<div class="row align-items-center margin-top stats-height">
    <div class="col pe-0">
        <ul class="list-group px-0">
            <li class="list-group-item d-flex">
                <label class="me-auto">Preis je Tonne:</label>
                <label>{{selectedProjectSupplier.pelletsPrice | localNumberFormat}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Abladepauschale:</label>
                <label>{{selectedProjectSupplier.alpPrice | localNumberFormat}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Mindestbestellmenge:</label>
                <label>{{selectedProjectSupplier.minDeliveryAmount}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Lieferende:</label>
                <label>{{selectedProjectSupplier.deliveryEnd | date:'dd.MMMM yyyy'}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto"></label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Bestellungen:</label>
                <label>{{selectedProjectSupplier.amountOfOrders}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Bestellmenge:</label>
                <label>{{selectedProjectSupplier.orderQuantity | localNumberFormat}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Mittelwert:</label>
                <label>{{selectedProjectSupplier.averageOrderQuantity | localNumberFormat}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto"></label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Auslieferungen gesamt:</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Liefermenge gesamt:</label>
            </li>
          </ul>
    </div>
</div>
<div class="row justify-content-end mt-2">
    <div class="col-auto p-0">
        <button class="btn btn-sm btn-confirm">Drucken</button>
    </div>
</div>
<app-delete-project-supplier
    *ngIf="isDeleteProjectSupplierVisible"
    [isDeleteProjectSupplierVisible]="isDeleteProjectSupplierVisible"
    (closeDeleteModal)="closeDeleteModal()"
    (deleteButtonClicked)="deleteProjectSupplier()"
    >
</app-delete-project-supplier>
<app-add-project-supplier
    *ngIf="isAddProjectSupplierVisible"
    [projectId]="projectId"
    [isAddModalVisible]="isAddProjectSupplierVisible"
    (closeButtonClicked)="closeAddModal()"
    (addButtonClicked)="addProjectSupplier($event)"
></app-add-project-supplier>
<app-edit-project-supplier
    *ngIf="isEditProjectSupplierVisible"
    [isEditModalVisible]="isEditProjectSupplierVisible"
    [projectId]="projectId"
    [projectSupplier]="editProjectSupplier"
    (closeEditModal)="closeEditModal()"
    (editButtonClicked)="updateProjectSupplier($event)"
></app-edit-project-supplier>