table{
    background-color: #FFFFFF;
    height: 30vh;
    overflow-y: scroll;
    display: block;
    margin: 0;
}

th, td{
    font-size: 1.75vh;
    cursor: default;
}

.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}

.btn-cancel {
    color: #FFFFFF;
    background-color: #D62828;
}

li > label{
    font-size: 1.75vh;
    font-weight: 500;
}

ul > li{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.margin-top{
    margin-top: 1.5rem;
}

button{
    font-size: 1.75vh;
    font-weight: 500;
    padding-inline: 1rem;
}

tbody > tr:hover{
    background-color: aliceblue;
}

tbody > tr.selected
{
    background-color: dodgerblue;
}