<div class="modal" tabindex="-1" [ngStyle]="{'display': deleteMemberVisible ? 'block' : 'none'}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Member löschen</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p>Sind Sie sicher, dass Sie diesen Member löschen wollen?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="closeModal()">Abbrechen</button>
        <button type="button" class="btn btn-confirm" (click)="deleteMember()">Löschen</button>
      </div>
    </div>
  </div>
</div>