<div class="container-fluid mx-0 px-0">
    <div class="row mx-0 px-0 justify-items-end">
      <div class="col-2 mt-3 px-0">
        <div class="float-start">
          <label class="found-entries">
            Gefundene Einträge: {{ count }}
          </label>
        </div>
      </div>
      <div class="col d-flex justify-content-center mt-1">
        <nav>
          <ul class="pagination my-0">
            <li
              class="page-item"
              [ngClass]="backButtonClass"
              (click)="navButtonClicked(-1)"
            >
              <a class="page-link">
                <span>&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a
                class="page-link"
                [ngClass]="{ active: currentPages[0] === currentPage }"
                (click)="navigateTo(currentPages[0])"
                >{{ currentPages[0] }}</a
              >
            </li>
            <li *ngIf="currentPages.length > 1" class="page-item">
              <a
                class="page-link"
                [ngClass]="{ active: currentPages[1] === currentPage }"
                (click)="navigateTo(currentPages[1])"
                >{{ currentPages[1] }}</a
              >
            </li>
            <li *ngIf="currentPages.length > 2" class="page-item">
              <a
                class="page-link"
                [ngClass]="{ active: currentPages[2] === currentPage }"
                (click)="navigateTo(currentPages[2])"
                >{{ currentPages[2] }}</a
              >
            </li>
            <li
              class="page-item"
              [ngClass]="forwardButtonClass"
              (click)="navButtonClicked(1)"
            >
              <a class="page-link">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-2"></div>
    </div>
  </div>  