.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.75vh;
    padding: 0.35rem 0.5rem;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 0.5rem;
}

table {
    background-color: #FFFFFF;
    height: 35vh;
    overflow-y: scroll;
    display: block;
    margin: 0;
}

th,
td {
    font-size: 1.75vh;
}

.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}

li > label{
    font-size: 1.75vh;
    font-weight: 500;
}

.small-text{
    font-size: 1.75vh;
    font-weight: 500;
}

ul > li{
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}