<div class="row align-items-center">
    <div class="col">
        <div class="tab">
            <button class="tablink" [ngClass]="{'active': selectedTabType === 'suppliers'}" (click)="tabClicked('suppliers')">Lieferanten</button>
            <button class="tablink" [ngClass]="{'active': selectedTabType === 'orderType'}" (click)="tabClicked('orderType')">Bestelltyp</button>
            <button class="tablink" [ngClass]="{'active': selectedTabType === 'contactType'}" (click)="tabClicked('contactType')">Bestellart</button>
          </div>
          
        <div class="tabcontent" *ngIf="selectedTabType === 'suppliers'">
            <table class="table">
                <thead class="d-block">
                    <tr class="d-flex">
                    <th class="col-5" scope="col">Lieferant</th>
                    <th class="col-3" scope="col">Menge</th>
                    <th class="col-2" scope="col">Anzahl</th>
                    <th class="col-2" scope="col">Anteil</th>
                    </tr>
                </thead>
                <tbody class="d-block">
                    <tr class="d-flex" *ngFor="let supplier of supplierStats">
                    <td class="col-5">{{supplier.supplierName}}</td>
                    <td class="col-3">{{supplier.orderQuantity}}</td>
                    <td class="col-2">{{supplier.amountOfOrders}}</td>
                    <td class="col-2">{{supplier.shareOfOverallOrderQuantity}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
          
        <div class="tabcontent" *ngIf="selectedTabType === 'orderType'">
          <table class="table">
              <thead class="d-block">
                <tr class="d-flex">
                  <th class="col-8" scope="col">Bestellart</th>
                  <th class="col-2" scope="col">Anzahl</th>
                  <th class="col-2" scope="col">Anteil</th>
                </tr>
              </thead>
              <tbody class="d-block">
                <tr class="d-flex" *ngFor="let orderType of orderTypeStats">
                  <td class="col-8">{{orderType.contactType}}</td>
                  <td class="col-2">{{orderType.amountOfOrders}}</td>
                  <td class="col-2">{{orderType.shareOfOverallOrderQuantity}}</td>
                </tr>
              </tbody>
            </table>
        </div>
          
        <div class="tabcontent" *ngIf="selectedTabType === 'contactType'">
          <table class="table">
              <thead class="d-block">
                <tr class="d-flex">
                  <th class="col-8" scope="col">Bestelltyp</th>
                  <th class="col-2" scope="col">Anzahl</th>
                  <th class="col-2" scope="col">Anteil</th>
                </tr>
              </thead>
              <tbody class="d-block">
                <tr class="d-flex" *ngFor="let contactType of contactTypeStats">
                  <td class="col-8">{{contactType.contactType}}</td>
                  <td class="col-2">{{contactType.amountOfOrders}}</td>
                  <td class="col-2">{{contactType.shareOfOverallOrderQuantity}}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col">
        <ul class="list-group px-0">
            <li class="list-group-item d-flex">
                <label class="me-auto">Bestellungen > 0:</label>
                <label>{{project.amountOfOrders}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Bestellungen = 0:</label>
                <label>{{project.amountOfOrders0}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Bestellmenge:</label>
                <label>{{project.orderQuantity}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Mittelwert:</label>
                <label>{{project.averageOrderQuantity}}</label>
            </li>
            <li class="list-group-item d-flex"></li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Fehlende Bestellungen:</label>
                <label>{{project.missingOrders}}</label>
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Differenz zum Vorjahr:</label>
                <label>{{project.differenceToPreviousYear}}</label>
            </li>
            <li class="list-group-item d-flex"></li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Reale Auslieferungen:</label>
                <!-- <label *ngIf="selectedSupplier">{{selectedSupplier.deliveryEnd}}</label> -->
            </li>
            <li class="list-group-item d-flex">
                <label class="me-auto">Reale Ausliefermenge:</label>
                <!-- <label *ngIf="selectedSupplier">{{selectedSupplier.deliveryEnd}}</label> -->
            </li>
          </ul>
    </div>
</div>
<div class="row justify-content-between mt-2">
    <div class="col-auto pe-0">
        <button class="btn btn-sm btn-confirm small-text">Drucken Alle</button>
    </div>
    <div class="col-auto p-0">
        <button class="btn btn-sm btn-confirm small-text">Drucken (Bestell. > 0)</button>
    </div>
</div>
<div class="row mt-1">
  <div class="col pe-0">
    <button class="btn btn-sm btn-confirm small-text w-100">Drucken Zusammenfassung</button>
</div>
</div>