<app-sidebar></app-sidebar>
<div
  class="background"
  [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'"
>
  <div class="headermodule">
    <app-header></app-header>
  </div>
  <div class="bodymodule">
    <app-body
      (deleteSupplier)="deleteSupplier($event)"
      [suppliers]="suppliers"
    ></app-body>
  </div>
  <div class="footermodule">
    <app-footer
      [count]="supplierCount"
      [pageSize]="pageSize"
      (pageChanged)="setPage($event)"
    ></app-footer>
  </div>
</div>
