.row{
    margin-bottom: 0.25rem;
}

label {
    font-size: 1.85vh;
}

li > label{
    font-size: 1.75vh;
    font-weight: 500;
}

.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}

.btn-cancel {
    color: #FFFFFF;
    background-color: #D62828;
}

.list{
    height: 130px;
    background-color: #FFFFFF;
    border: 1px;
    border-style: solid;
}

.list-group-item > input{
    margin-left: 1rem;
    margin-right: 0.25rem;
}

button{
    font-size: 1.75vh;
    font-weight: 500;
}

input{
    font-size: 1.85vh;
}

.infobox{
    margin-top: 0.75rem;
}