<form [formGroup]="projectInformationForm" (ngSubmit)="onSubmit()">
    <div class="row align-items-center">
        <div class="col-4">
          <label>Bezeichnung:</label>
        </div>
        <div class="col p-0">
          <input
            type="text"
            class="form-control form-control-sm d-inline-block"
            formControlName="shortDescription"
            id="shortDescriptionInput"
            [ngClass]="{ 'is-invalid': shortDescription.invalid && (shortDescription.dirty || shortDescription.touched) }"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-4">
          <label>Bestellende:</label>
        </div>
        <div class="col p-0">
          <input
            type="date"
            class="form-control form-control-sm d-inline-block"
            formControlName="endOrderDate"
            id="endOrderDateInput"
            [ngClass]="{ 'is-invalid': endOrderDate.invalid && (endOrderDate.dirty || endOrderDate.touched) }"
          />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-4">
          <label>Stammverzeichnis:</label>
        </div>
        <div class="col-3 p-0">
          <input
            type="text"
            class="form-control form-control-sm d-inline-block"
            formControlName="path"
            id="pathInput"
            [ngClass]="{ 'is-invalid': path.invalid && (path.dirty || path.touched) }" />
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-4">
          <label>Unkostenbeitrag:</label>
        </div>
        <div class="col p-0">
          <input
            type="number"
            class="form-control form-control-sm d-inline-block"
            formControlName="expenses"
            id="expensesInput" />
        </div>
        <div class="col-auto">
          <label>Login-Präfix:</label>
        </div>
        <div class="col p-0">
          <input
            type="text"
            class="form-control form-control-sm d-inline-block"
            formControlName="loginPrefix"
            id="loginPrefixInput"
            [ngClass]="{ 'is-invalid': loginPrefix.invalid && (loginPrefix.dirty || loginPrefix.touched) }" />
        </div>
      </div>
      <div class="row infobox">
        <div class="col pe-0">
          <label>Ergebnis aus Vorjahr:</label>
          <ul class="list-group px-0">
            <li class="list-group-item d-flex align-items-center">
              <label class="me-auto">Liefermenge:</label>
              <input
                type="number"
                class="form-control form-control-sm w-50"
                formControlName="quantityPreviousYear"
              />
            </li>
            <li class="list-group-item d-flex align-items-center">
              <label class="me-auto">Bestellungen:</label>
              <input
                type="number"
                class="form-control form-control-sm w-50"
                formControlName="quantityOrdersPreviousYear"
              />
            </li>
            <li class="list-group-item d-flex align-items-center">
              <label class="me-auto">Bestellungen (Menge = 0):</label>
              <input
                type="number"
                class="form-control form-control-sm w-50"
                formControlName="quantityOrdersPreviousYear0"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="row infobox">
        <div class="col pe-0">
          <label>Index Österreichischer Pelletspreis:</label>
          <ul class="list-group px-0">
            <li class="list-group-item d-flex align-items-center">
              <label class="me-auto">Index:</label>
              <input
                type="number"
                class="form-control form-control-sm w-50"
                formControlName="ppiValue"
              />
            </li>
            <li class="list-group-item d-flex align-items-center">
              <label class="me-auto">Preis:</label>
              <input
                type="number"
                class="form-control form-control-sm w-50"
                formControlName="ppiPrice"
              />
            </li>
            <li class="list-group-item d-flex align-items-center">
              <label class="me-auto">Erhebungsmonat:</label>
              <input
                type="date"
                class="form-control form-control-sm w-50"
                formControlName="ppiDate"
              />
            </li>
          </ul>
        </div>
      </div>
      <div class="row align-items-center justify-content-end">
        <div class="col-auto p-0">
          <button type="submit" class="btn btn-sm btn-confirm" [disabled]="!projectInformationForm.valid">Speichern</button>
        </div>
      </div>
      <div class="row align-items-center">
        <label>Inhalt Dateiablage:</label>
        <div class="col pe-0">
          <ul class="list-group list"></ul>
        </div>
      </div>
      <div class="row align-items-center justify-content-between">
        <div class="col-auto pe-0">
          <button class="btn btn-sm btn-confirm">Umbennen</button>
        </div>
        <div class="col-auto p-0">
          <button class="btn btn-sm btn-cancel">Entfernen</button>
        </div>
      </div>
</form>