<app-sidebar></app-sidebar>
<div [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'">
    <div class="supplier-details">
      <app-supplier-detail [supplierId]="supplierId"></app-supplier-detail>
    </div>
</div>