<div class="modal" tabindex="-1" [ngStyle]="{'display': addSupplierVisible ? 'block' : 'none'}">
  <form [formGroup]="addSupplierForm" (ngSubmit)="onSubmit()">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Supplier hinzufügen</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body pt-0">
          <div class="container">
            <div class="row">
              <div class="col mx-3">
                <div class="row">
                  <label for="companyNameInput" class="form-label">Firmenname:</label>
                  <input type="text" class="form-control" formControlName="companyName" id="companyNameInput"
                    [ngClass]="{ 'is-invalid': companyName.invalid && (companyName.dirty || companyName.touched) }">
                  <div *ngIf="companyName.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="shortFormInput" class="form-label">Kurzform:</label>
                  <input type="text" class="form-control" formControlName="shortForm" id="shortFormInput"
                    [ngClass]="{ 'is-invalid': shortForm.invalid && (shortForm.dirty || shortForm.touched) }">
                  <div *ngIf="shortForm.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="contactNameInput" class="form-label">Kontaktname:</label>
                  <input type="text" class="form-control" formControlName="contactName" id="contactNameInput">
                </div>
                <div class="row">
                  <label for="greetingShortSelect" class="form-label">Anrede:</label>
                  <select type="text" class="form-control" formControlName="greetingShort" id="greetingShortSelect"
                    [ngClass]="{ 'is-invalid': greetingShort.invalid && (greetingShort.dirty || greetingShort.touched) }">
                    <option value="Herr">Herr</option>
                    <option value="Frau">Frau</option>
                  </select>
                  <div *ngIf="greetingShort.errors?.required" class="invalid-feedback">
                    Auswahl darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="emailInput" class="form-label">Email:</label>
                  <input type="text" class="form-control" formControlName="email" id="emailInput"[ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
                  <div *ngIf="email.errors?.email" class="invalid-feedback">
                    Email ist falsch!
                  </div>
                </div>
                <div class="row">
                  <label for="webInput" class="form-label">Web:</label>
                  <input type="text" class="form-control" formControlName="web" id="webInput">
                </div>
              </div>
              <div class="col mx-3">
                <div class="row">
                  <label for="plzInput" class="form-label">PLZ:</label>
                  <input type="text" class="form-control" formControlName="plz" id="plzInput"
                    [ngClass]="{ 'is-invalid': plz.invalid && (plz.dirty || plz.touched) }">
                  <div *ngIf="plz.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                  <div *ngIf="plz.errors?.maxlength" class="invalid-feedback">
                    PLZ darf nicht länger als 5 sein!
                  </div>
                  <div *ngIf="plz.errors?.minlength" class="invalid-feedback">
                    PLZ muss mindestens aus 4 Ziffern bestehen!
                  </div>
                </div>
                <div class="row">
                  <label for="cityInput" class="form-label">Stadt:</label>
                  <input type="text" class="form-control" formControlName="city" id="cityInput"
                    [ngClass]="{ 'is-invalid': city.invalid && (city.dirty || city.touched) }">
                  <div *ngIf="city.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="streetInput" class="form-label">Straße:</label>
                  <input type="text" class="form-control" formControlName="street" id="streetInput"
                    [ngClass]="{ 'is-invalid': street.invalid && (street.dirty || street.touched) }">
                  <div *ngIf="street.errors?.required" class="invalid-feedback">
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <div class="form-floating p-0">
                    <textarea class="form-control" placeholder="Historie" id="history"
                      style="height: 150px"></textarea>
                    <label for="history">Historie</label>
                  </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Schließen</button>
        <button type="submit" class="btn btn-primary" [disabled]="!addSupplierForm.valid">Bestätigen</button>
      </div>
    </div>
</div>
</form>
</div>