<app-sidebar></app-sidebar>
<div
  class="background"
  [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'"
>
  <div class="headermodule">
    <app-header
        (searchStringChanged)="setSearchString($event)"
    ></app-header>
  </div>
  <div class="bodymodule">
    <app-body
      (addOrder)="addOrder($event)"
      (deleteOrder)="deleteOrder($event)"
      [orders]="orders"
    ></app-body>
  </div>
  <div class="footermodule">
    <app-footer
        (pageChanged)="setPage($event)"
        [count]="orderCount"
        [pageSize]="pageSize">
    </app-footer>
  </div>
</div>
