.content-default > div,
.content-extended > div {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.background{
    background-color: #f2f2f2;
    width: 100%;
    min-height: 100vh;
}

.headermodule {
    max-height: fit-content;
}

.bodymodule {
    position: relative;
    background-color: #FFFFFF;
    margin-top: 1.2vh;
    min-height: 75vh;
}

.footermodule {
    max-height: fit-content;
}