.btn-delete{
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-add{
    color: #FFFFFF;
    background-color: #003049;
}

table{
    margin: 0;
}

tr > th:first-child{
    padding-left: 1rem;
}

tbody > tr > :is(th:not(:first-child), td:not(:first-child)){
    cursor: pointer;
}

.flex{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.align-start{
    align-self: flex-start;
    flex-basis: 100%;
    width: 100%;
}

.align-end{
    align-self: flex-end;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}