<div class="flex">
  <div class="align-start">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th scope="col">ID</th>
          <th scope="col">Form</th>
          <th scope="col">Name</th>
          <th scope="col">Straße</th>
          <th scope="col">PLZ</th>
          <th scope="col">Ort</th>
          <th scope="col">Mobil-Nr</th>
          <th scope="col">Alternativ-Nr</th>
          <th scope="col">Mail</th>
          <th scope="col">Beitritt</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members">
          <td>
            <input class="form-check-input" type="checkbox" [checked]="member.id === selectedMemberId" (click)="memberSelected(member.id)">
          </td>
          <th scope="row" (click)="openDetailedMemberView(member.id)">{{member.id}}</th>
          <td (click)="openDetailedMemberView(member.id)">{{member.contactType}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.fullName}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.street}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.plz}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.city}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.privateNumber}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.secondaryNumber}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.email}}</td>
          <td (click)="openDetailedMemberView(member.id)">{{member.regDate}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="align-end">
    <button type="button" class="btn btn-delete me-2" [disabled]="selectedMemberId === -1" (click)="openDeleteDialog()">Löschen</button>
    <button type="button" class="btn btn-add" (click)="openAddDialog()">Hinzufügen</button>
  </div>
</div>

  <app-add-member 
    (addMemberClosed)="closeAddDialog()"
    (addMemberClicked)="addNewMember($event)"
    [addMemberVisible]="isAddMemberVisible"
    >
  </app-add-member>
  <app-delete-member 
    (deleteMemberClosed)="closeDeleteDialog()"
    (deleteMemberClicked)="deleteMemberClicked()"
    [deleteMemberVisible]="isDeleteMemberVisible"
    >
  </app-delete-member>