<app-sidebar></app-sidebar>
<div
  class="background"
  [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'"
>
  <div class="headermodule">
    <app-header
      (searchStringChanged)="getSearchResults($event)"
      (selectedFilterOptionChanged)="getFilterResults($event)"
      (selectedSearchFilterChanged)="setSearchFilterId($event)"
      >
    </app-header>
  </div>
  <div class="bodymodule">
    <app-body
      [members]="members"
      (selectedMemberChanged)="setSelectedMemberId($event)"
      (deleteMember)="deleteMember()"
      (addMember)="addMember($event)"
    ></app-body>
  </div>
  <div class="footermodule">
    <app-footer
      [count]="memberCount"
      [pageSize]="pageSize"
      (pageChanged)="setCurrentPage($event)"
      >
    </app-footer>
  </div>
</div>