.background{
    background-color: #f2f2f2;
    width: 100%;
    min-height: 100vh;
}

.header-text{
    font-size: 3.5vh;
    font-weight: 600;
}

.header-text-small{
    font-size: 2.5vh;
    font-weight: 500;
}

.row{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.row > .col{
    background-color: #f2f2f2;
}

hr{
    margin-top: 0rem;
    margin-bottom: 0.75rem;
    color: #9C9292;
}