<app-sidebar></app-sidebar>
<div class="container-fluid background" [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'">
    <div class="row justify-content-between align-items-end">
        <div class="col-auto header-text">
            Projekt: {{project.shortDescription}} [{{project.id}}]
        </div>
        <div class="col-auto header-text-small">
            <label>Aktiv:</label>
            <div class="form-check form-switch d-inline-block ms-2">
                <label class="form-check-label" for="activeSwitch"
                  ></label
                >
                <input
                  [(ngModel)]="isProjectActive"
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="activeSwitch"
                />
              </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <app-project-informations [project]="project" (updateProjectClicked)="updateProject($event)"></app-project-informations>
        </div>
        <div class="col-4">
            <app-project-supplier-details [projectSuppliers]="project.projectSuppliers"></app-project-supplier-details>
        </div>
        <div class="col-4">
            <app-project-stats [project]="project"></app-project-stats>
        </div>
    </div>
</div>