.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}

.btn-cancel {
    color: #FFFFFF;
    background-color: #D62828;
}

.row{
    margin-bottom: 0.5rem;
}

.form-label{
    font-size: 13px;
    font-weight: 500;
}

.form-label-smaller{
    font-size: 12px;
    font-weight: 500;
}

.modal-body{
    padding-left: 1.25rem;
    padding-right: 1.5rem;
}

.normal{
    font-weight: normal !important;
}