<div
  class="modal"
  tabindex="-1"
  [ngStyle]="{ display: isAddModalVisible ? 'block' : 'none' }"
>
<form [formGroup]="addProjectSupplierForm" (ngSubmit)="onSubmit()">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Projektlieferant hinzufügen</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
              <div class="col pe-0">
                <label for="supplierSelect" class="form-label m-0">Lieferant:</label>
                <select
                  class="form-select form-select-sm"
                  formControlName="supplierId"
                  id="supplierSelect"
                >
                <option *ngFor="let supplier of suppliers" [value]="supplier.id">
                  {{ supplier.companyName }}
                </option>
                </select>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-4">
                <label class="form-label">Ansprechpartner:</label>
              </div>
              <div class="col p-0">
                <label class="form-label normal">
                  {{selectedSupplier.contactName}}
                </label>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-4">
                <label class="form-label">Telefon:</label>
              </div>
              <div class="col p-0">
                <label class="form-label normal">
                  {{selectedSupplier.telephone}}
                </label>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-4">
                <label class="form-label">Email:</label>
              </div>
              <div class="col p-0">
                <label class="form-label normal">
                  {{selectedSupplier.email}}
                </label>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col pe-0">
                <label class="form-label m-0">Liefer- und Preisangaben:</label>
                <ul class="list-group px-0">
                  <li class="list-group-item d-flex align-items-center">
                    <label class="form-label-smaller me-auto">Preis je Tonne:</label>
                    <input
                      type="number"
                      class="form-control form-control-sm w-50"
                      formControlName="pelletsPrice"
                    />
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <label class="form-label-smaller me-auto">Abladepauschale:</label>
                    <input
                      type="number"
                      class="form-control form-control-sm w-50"
                      formControlName="alpPrice"
                    />
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <label class="form-label-smaller me-auto">Letztmöglicher Liefertermin:</label>
                    <input
                      type="date"
                      class="form-control form-control-sm w-50"
                      formControlName="endOrderDate"
                    />
                  </li>
                  <li class="list-group-item d-flex align-items-center">
                    <label class="form-label-smaller me-auto">Mindestbestellmenge:</label>
                    <input
                      type="number"
                      class="form-control form-control-sm w-50"
                      formControlName="minOrderAmount"
                    />
                  </li>
                </ul>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" (click)="closeModal()">
          Abbrechen
        </button>
        <button
          type="submit"
          class="btn btn-confirm"
        >
          Bestätigen
        </button>
      </div>
    </div>
  </div>
</form>
</div>
