/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
.form-select
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.content-default {
    padding-left: calc(232px + 2.5vw);
}

.content-extended {
    padding-left: 72px;
}
