<app-sidebar></app-sidebar>
<div
  class="background"
  [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'"
>
  <form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid comp-background details-module">
      <div class="row align-items-end">
        <div class="col header-text text-start">
          Bestellung: {{ order?.member?.fullName }} [{{ order?.id }}]
        </div>
        <div class="col text-end header-text-small">
          Beigetreten am: {{ order?.orderDate }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <label for="orderTypeSelect" class="form-label"
                >Bestellart:</label
              >
              <select
                class="form-select form-select-sm"
                formControlName="contactTypeId"
                id="contactTypeSelect"
                [ngClass]="{
                  'is-invalid':
                    contactType.invalid &&
                    (contactType.dirty || contactType.touched)
                }"
              >
                <option
                  *ngFor="let contactType of contactTypes"
                  [value]="contactType.id"
                >
                  {{ contactType.type }}
                </option>
              </select>
              <div
                *ngIf="contactType.errors?.required"
                class="invalid-feedback"
              >
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="contactTypeSelect" class="form-label"
                >Bestelltyp:</label
              >
              <select
                class="form-select form-select-sm"
                formControlName="orderTypeId"
                id="orderTypeSelect"
                [ngClass]="{
                  'is-invalid':
                    orderType.invalid && (orderType.dirty || orderType.touched)
                }"
              >
                <option
                  *ngFor="let orderType of orderTypes"
                  [value]="orderType.id"
                >
                  {{ orderType.type }}
                </option>
              </select>
              <div *ngIf="orderType.errors?.required" class="invalid-feedback">
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="projectSupplierSelect" class="form-label"
                >Projektlieferant:</label
              >
              <select
                class="form-select form-select-sm"
                formControlName="projectSupplierId"
                id="projectSupplierSelect"
                [ngClass]="{
                  'is-invalid':
                  projectSupplier.invalid &&
                    (projectSupplier.dirty || projectSupplier.touched)
                }"
              >
                <option
                  *ngFor="let projectSupplier of projectSuppliers"
                  [value]="projectSupplier.id"
                >
                  {{ projectSupplier.supplierCompanyName }}
                </option>
              </select>
              <div
                *ngIf="projectSupplier.errors?.required"
                class="invalid-feedback"
              >
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <ul class="list-group">
                <li class="list-group-item d-flex">
                    <label class="me-auto">Preis je Tonne:</label>
                    <label *ngIf="selectedSupplier">{{selectedSupplier.pelletsPrice}} €</label>
                </li>
                <li class="list-group-item d-flex">
                    <label class="me-auto">Abladepauschale:</label>
                    <label *ngIf="selectedSupplier">{{selectedSupplier.alpPrice}} €</label>
                </li>
                <li class="list-group-item d-flex">
                    <label class="me-auto">Lieferende:</label>
                    <label *ngIf="selectedSupplier">{{selectedSupplier.deliveryEnd}}</label>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="amountOrderedInput" class="form-label"
                >Bestellmenge:</label
              >
              <input
                type="text"
                class="form-control form-control-sm"
                formControlName="amountOrdered"
                id="amountOrderedInput"
                [ngClass]="{
                  'is-invalid':
                    amountOrdered.invalid &&
                    (amountOrdered.dirty || amountOrdered.touched)
                }"
              />
              <div
                *ngIf="amountOrdered.errors?.required"
                class="invalid-feedback"
              >
                Feld darf nicht leer sein!
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="deliveryDateOptionSelect" class="form-label"
                >Gew. Liefertermin:</label
              >
              <select
                class="form-select form-select-sm"
                formControlName="wishedDelDate"
                id="deliveryDateOptionSelect"
                [ngClass]="{
                  'is-invalid':
                  deliveryDateOption.invalid && (deliveryDateOption.dirty || deliveryDateOption.touched)
                }"
              >
                <option
                  *ngFor="let deliveryDateOption of availableDeliveryDateOptions; let i = index"
                  [value]="deliveryDateOption"
                >
                  {{ deliveryDateOption }}
                </option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-floating p-0">
                <textarea
                  class="form-control"
                  placeholder="Leave a comment here"
                  id="internInfo"
                  style="height: 100px"
                  formControlName="shortInfo"
                ></textarea>
                <label for="internInfo">Interne Infos</label>
              </div>
            </div>
          </div>
          <div class="row gx-1 justify-content-end">
            <div class="col-auto">
              <button type="button" class="btn btn-secondary" (click)="resetForm()">Abbrechen</button>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-confirm">Speichern</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
