.background{
    background-color: #FFFFFF;
    height: 100vh;
}

.comp-background{
    height: 100vh;
    padding-top: 0.5rem;
    padding-left: 1.5rem;
}

.header-text{
    font-size: 24px;
    font-weight: 500;
}

.header-text-small{
    font-size: 18px;
    font-weight: 500;
}

.form-control{
    font-size: 14px;
}

label{
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.col-6 > .row{
    margin-bottom: 0.5rem;
}

.form-check > label{
    font-size: 14px;
}

.btn-cancel {
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-confirm {
    color: #FFFFFF;
    background-color: #003049;
}

.invalid-feedback{
    font-size: 12px;
    padding: 0;
}