<table class="table table-striped">
  <thead class="">
    <tr>
      <th></th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Kurz.</th>
      <th scope="col">Aktiv</th>
      <th scope="col">Erstellungsdatum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="selectedUserId === user.id"
          (click)="userSelectionChanged(user.id)"
        />
      </td>
      <th scope="row" (click)="openEditModal(user)">{{ user.id }}</th>
      <td (click)="openEditModal(user)">
        {{ user.lastName }} {{ user.firstName }}
      </td>
      <td (click)="openEditModal(user)">{{ user.shortForm }}</td>
      <td (click)="openEditModal(user)">
        <span
          class="status"
          [ngClass]="user.active ? 'positive' : 'negative'"
        ></span>
      </td>
      <td (click)="openEditModal(user)">
        {{ user.creationDate | date: "dd.MM.yyyy" }}
      </td>
    </tr>
  </tbody>
</table>

<div class="bottom-right">
  <button
    type="button"
    class="btn btn-delete me-2"
    [disabled]="selectedUserId < 0"
    (click)="openDeleteModal()"
  >
    Löschen
  </button>
  <button type="button" class="btn btn-add" (click)="openAddModal()">
    Hinzufügen
  </button>
</div>

<app-add-user
  *ngIf="isAddModalVisible"
  (closeAddModal)="closeAddModal()"
  (addButtonClicked)="addButtonClicked($event)"
></app-add-user>

<app-edit-user
  *ngIf="isEditModalVisible"
  (closeEditModalClicked)="closeEditModal()"
  (editButtonClicked)="editButtonClicked($event)"
  [user]="userToEdit"
></app-edit-user>

<app-delete-user
  *ngIf="isDeleteModalVisible"
  (closeModalClicked)="closeDeleteModal()"
  (deleteButtonClicked)="deleteButtonClicked()"
></app-delete-user>
