<div class="modal" tabindex="-1" style="display: block">
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Benutzer hinzufügen</h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body pt-0">
          <div class="container">
            <div class="row">
              <div class="col mx-3">
                <div class="row">
                  <label for="lastNameInput" class="form-label"
                    >Nachname:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="lastName"
                    id="lastNameInput"
                    [ngClass]="{
                      'is-invalid':
                        lastname.invalid && (lastname.dirty || lastname.touched)
                    }"
                  />
                  <div
                    *ngIf="lastname.errors?.required"
                    class="invalid-feedback"
                  >
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="firstNameInput" class="form-label"
                    >Vorname:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="firstName"
                    id="firstNameInput"
                    [ngClass]="{
                      'is-invalid':
                        firstname.invalid &&
                        (firstname.dirty || firstname.touched)
                    }"
                  />
                  <div
                    *ngIf="firstname.errors?.required"
                    class="invalid-feedback"
                  >
                    Feld darf nicht leer sein!
                  </div>
                </div>
                <div class="row">
                  <label for="passwordInput" class="form-label"
                    >Passwort:</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    formControlName="password"
                    id="passwordInput"
                    [ngClass]="{
                      'is-invalid':
                        password.invalid && (password.dirty || password.touched)
                    }"
                  />
                  <div
                    *ngIf="password.errors?.required"
                    class="invalid-feedback"
                  >
                    Feld darf nicht leer sein!
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()">
            Abbrechen
          </button>
          <button
            type="submit"
            class="btn btn-confirm"
            [disabled]="!addUserForm.valid"
          >
            Bestätigen
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
