<div class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Benutzer löschen</h5>
        <button type="button" class="btn-close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <p>Sind Sie sicher, dass Sie diesen Benutzer löschen wollen?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Abbrechen
        </button>
        <button type="button" class="btn btn-confirm" (click)="deleteUser()">
          Bestätigen
        </button>
      </div>
    </div>
  </div>
</div>