<div class="modal" tabindex="-1" [ngStyle]="{'display': addMemberVisible ? 'block' : 'none'}">
  <form [formGroup]="addMemberForm" (ngSubmit)="onSubmit()">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Member hinzufügen</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body pt-0">
            <div class="container">
              <div class="row">
                <div class="col mx-3">
                  <div class="row">
                    <label for="titleInput" class="form-label">Titel:</label>
                    <input type="text" class="form-control" formControlName="title" id="titleInput">
                  </div>
                  <div class="row">
                    <label for="additionalTitleInput" class="form-label">Zusatztitel:</label>
                    <input type="text" class="form-control" formControlName="additionalTitle" id="additionalTitleInput">
                  </div>
                  <div class="row">
                    <label for="firstNameInput" class="form-label">Vorname:</label>
                    <input type="text" class="form-control" formControlName="firstName" id="firstNameInput" [ngClass]="{ 'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched) }">
                    <div *ngIf="firstName.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                  </div>
                  <div class="row">
                    <label for="lastNameInput" class="form-label">Nachname:</label>
                    <input type="text" class="form-control" formControlName="lastName" id="lastNameInput" [ngClass]="{ 'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched) }">
                    <div *ngIf="lastName.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                  </div>
                  <div class="row">
                    <label for="emailInput" class="form-label">Email:</label>
                    <input type="text" class="form-control" formControlName="email" id="emailInput" [ngClass]="{ 'is-invalid': email.invalid && (email.dirty || email.touched) }">
                    <div *ngIf="email.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                  </div>
                  <div class="row">
                    <label for="contactTypeSelect" class="form-label">Kontakttyp:</label>
                    <select class="form-select" formControlName="contactType" id="contactTypeSelect" [ngClass]="{ 'is-invalid': contactType.invalid && (contactType.dirty || contactType.touched) }">
                      <option *ngFor="let contactType of contactTypes" [value]="contactType.id">{{contactType.type}}</option>
                    </select>
                    <div *ngIf="contactType.errors?.required" class="invalid-feedback">
                      Kontakttyp muss ausgewählt werden!
                    </div>
                  </div>
                </div>
                <div class="col mx-3">
                  <div class="row">
                    <label for="plzInput" class="form-label">PLZ:</label>
                    <input type="text" class="form-control" formControlName="plz" id="plzInput" [ngClass]="{ 'is-invalid': plz.invalid && (plz.dirty || plz.touched) }">
                    <div *ngIf="plz.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                    <div *ngIf="plz.errors?.maxlength" class="invalid-feedback">
                      PLZ darf nicht länger als 5 sein!
                    </div>
                    <div *ngIf="plz.errors?.minlength" class="invalid-feedback">
                      PLZ muss mindestens aus 4 Ziffern bestehen!
                    </div>
                  </div>
                  <div class="row">
                    <label for="cityInput" class="form-label">Stadt:</label>
                    <input type="text" class="form-control" formControlName="city" id="cityInput" [ngClass]="{ 'is-invalid': city.invalid && (city.dirty || city.touched) }">
                    <div *ngIf="city.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                  </div>
                  <div class="row">
                    <label for="streetInput" class="form-label">Straße:</label>
                    <input type="text" class="form-control" formControlName="street" id="streetInput" [ngClass]="{ 'is-invalid': street.invalid && (street.dirty || street.touched) }">
                    <div *ngIf="street.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                  </div>
                  <div class="row">
                    <label for="deliveryAddressInput" class="form-label">Lieferadresse:</label>
                    <input type="text" class="form-control" formControlName="deliveryStreet" id="deliveryAddressInput">
                  </div>
                  <div class="row">
                    <label for="privateNumberInput" class="form-label">Privatnummer:</label>
                    <input type="text" class="form-control" formControlName="privateNumber" id="privateNumberInput" [ngClass]="{ 'is-invalid': privateNumber.invalid && (privateNumber.dirty || privateNumber.touched) }">
                    <div *ngIf="privateNumber.errors?.required" class="invalid-feedback">
                      Feld darf nicht leer sein!
                    </div>
                  </div>
                  <div class="row">
                    <label for="alternativeNumberInput" class="form-label">Alternativ-Nr:</label>
                    <input type="text" class="form-control" formControlName="secondaryNumber" id="alternativeNumberInput">
                  </div>
                </div>
                <div class="col mx-3 my-auto">
                  <div class="row">
                    <div class="form-floating p-0">
                      <textarea class="form-control" placeholder="Leave a comment here" id="internInfo" style="height: 150px"></textarea>
                      <label for="internInfo">Interne Infos</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-floating p-0">
                      <textarea class="form-control" placeholder="Leave a comment here" id="permanentInfo" style="height: 150px"></textarea>
                      <label for="permanentInfo">Permanente Infos</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModal()">Abbrechen</button>
          <button type="submit" class="btn btn-confirm" [disabled]="!addMemberForm.valid">Bestätigen</button>
        </div>
      </div>
    </div>
  </form>
  </div>