.row > label{
    padding: 0;
    margin: 0;
}
.col > .row{
    margin-bottom: 0.5rem;
}

.col > .row:first-child{
    margin-top: 1rem;
}

.invalid-feedback{
    font-size: 12px;
    padding: 0;
}

.btn-confirm{
    color: #FFFFFF;
    background-color: #003049;
}