<div class="modal" tabindex="-1" [ngStyle]="{'display': deleteSupplierVisible ? 'block' : 'none'}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Supplier löschen</h5>
          <button type="button" class="btn-close" (click)="closeModal()"></button>
        </div>
        <div class="modal-body">
          <p>Sind Sie sicher, dass Sie diesen Supplier löschen wollen?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Schliessen</button>
          <button type="button" class="btn btn-primary" (click)="deleteSupplier()">Löschen</button>
        </div>
      </div>
    </div>
  </div>