<table class="table table-striped">
    <thead class="">
      <tr>
        <th></th>
        <th scope="col">A</th>
        <th scope="col">ID</th>
        <th scope="col">Bezeichnung</th>
        <th scope="col">Lieferanten</th>
        <th scope="col">Ges. Menge</th>
        <th scope="col">Ges. Bestellungen</th>
        <th scope="col">Mittel</th>
        <th scope="col">PPI-Preis</th>
        <th scope="col">PPI-Index</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>
          <input class="form-check-input" type="checkbox" [checked]="project.id === selectedProjectId" (click)="selectedProjectChanged(project.id)">
        </td>
        <th scope="row" (click)="openProjectDetails(project.id)">
            <span class="status" [ngClass]="project.active ? 'positive' : 'negative'"></span>
        </th>
        <td (click)="openProjectDetails(project.id)">{{project.id}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.projectName}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.supplierShortCodes}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.orderQuantity | localNumberFormat}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.amountOfOrders | localNumberFormat}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.averageOrderQuantity | localNumberFormat}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.ppiPrice | localNumberFormat}}</td>
        <td (click)="openProjectDetails(project.id)">{{project.ppiValue | localNumberFormat}}</td>
      </tr>
    </tbody>
  </table>

  <div class="bottom-right">
    <button type="button" class="btn btn-delete me-2" [disabled]="selectedProjectId === -1" (click)="openDeleteModal()">Löschen</button>
    <button type="button" class="btn btn-add" (click)="openAddModal()">Hinzufügen</button>
  </div>

  <app-delete-project [deleteProjectVisible]="isDeleteModalVisible" (modalClosed)="closeModal()" (deleteProject)="deleteButtonClicked()"></app-delete-project>
  <app-add-project [addProjectVisible]="isAddModalVisible" (closeAddModal)="closeModal()" (addProject)="addNewProject($event)"></app-add-project>