.btn-delete{
    color: #FFFFFF;
    background-color: #D62828;
}

.btn-add{
    color: #FFFFFF;
    background-color: #003049;
}

.bottom-right{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 0.8rem;
    padding-right: 1rem;
}

tr > th:first-child{
    padding-left: 1rem;
}

tbody > tr > :is(th:not(:first-child), td:not(:first-child)){
    cursor: pointer;
}

.status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.positive{
    background-color: #00FF00;
}

.negative{
    background-color: #D62828;
}