<app-sidebar></app-sidebar>
<div [ngClass]="isSidebarCollapsed ? 'content-extended' : 'content-default'">
  <div class="member-details">
    <app-member-detail [memberId]="memberId"></app-member-detail>
  </div>
</div>